<% include ../partials/header %>

<div class="container bleh">
    
    <% temper.forEach(function(temperatureams){ %>
        <h1>The current temperature in Amsterdam is <%= temperatureams.temperature  %> °C</h1>
        <span><p><%= moment(temperatureams.createdAt).fromNow() %></p> </span>
        <br>
    <% }) %>
    
    
    <% maxtemper.forEach(function(maxtemperatureams){ %>
        <h1>The maximum temperature in Amsterdam in 24 hours is <%=  maxtemperatureams.temperature  %> °C</h1>
        <span><p><%= moment(maxtemperatureams.createdAt).fromNow() %></p> </span>
       <br>
    <% }) %>
    
    <% mintemper.forEach(function(mintemperatureams){ %>
        <h1>The minimum temperature in Amsterdam in 24 hours is <%=  mintemperatureams.temperature  %> °C</h1>
        <span><p><%= moment(mintemperatureams.createdAt).fromNow() %></p> </span>
        <br>
    <% }) %>
    
    <form action="/weatherapp/Amsterdam/" method="POST">
        <button class="btn btn-lg btn-success" name="newTemp">Update the current temperature field</button>
    </form>
        <br>
    <a class="goback" href="/weatherapp">Go back</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>